.build {
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
    width: 287px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.build-success {
    background: LawnGreen;
}

.build-failed {
    background: OrangeRed;
}

.build-running {
    background: gold;
}

.build-title {
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    font-size: x-large;
}

.build-percentages {
    display: inline-block;
    font-size: large;
}

.build-changes-info {
    font-style:italic;
    padding-top: 5px;
}