body {
    background: black;
}

::-webkit-progress-bar {
    background: white;
}
::-webkit-progress-value {
    background: DeepSkyBlue;
}
::-moz-progress-bar {
    background: white;
}
progress {
    display: block;
    color: DeepSkyBlue;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 15px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.build {
    border: 1px solid white;
    padding: 7px;
    margin: 3px;
    width: 287px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.build-success {
    background: LawnGreen;
}

.build-failed {
    background: OrangeRed;
}

.build-running {
    background: gold;
}

.build-title {
    font-weight: bold;
    font-size: xx-large;
    display: inline-block;
    margin-bottom: 12px;
}

.build-percentages {
    display: inline-block;
    font-size: large;
}

.build-changes-info {
    font-size: medium;
    font-style:italic;
    padding-top: 8px;
    margin-bottom: 2px;
}

.build-status-text {
    font-size: medium;
    text-overflow: ellipsis;
}

.build-duration {
    font-weight: bold;
}

.build-triggered-by {
    font-weight: bold;
}
